@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/Alternative files/NunitoSans-Regular.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/Alternative files/NunitoSans-Medium.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/Alternative files/NunitoSans-Bold.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  /* outline: 1px dashed grey; */
}

body {
  box-sizing: inherit;
  font-family: "Nunito Sans", sans-serif;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}
.header__logo {
  align-self: center;
  max-width: 120px;
  max-height: 20px;
  padding: 16px;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0;
    margin: 24px 36px;
  }
}
.header .nav__list {
  display: flex;
  text-align: center;
}
.header .nav__item {
  width: 50%;
  color: #E1E1E1;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .header .nav__item {
    padding: 24px 0;
    margin-right: 36px;
  }
}
.header .nav__item--active, .header .nav__item:hover {
  border-bottom: 2px solid #FFFFFF;
}
.header .nav__link {
  color: #E1E1E1;
}
.header .nav__link--active {
  color: #FFFFFF;
  font-weight: 700;
}
.header .nav__link:hover {
  color: #FFFFFF;
}

.hero-banner {
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .hero-banner {
    height: 45vh;
  }
}
.hero-banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
  z-index: 1;
}
.hero-banner__title {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  z-index: 2;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .hero-banner__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding: 0 36px;
  }
}

main .about {
  padding: 0 16px;
}
@media (min-width: 768px) {
  main .about {
    padding: 0 36px;
  }
}
main .about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 24px 0 16px 0;
}
@media (min-width: 768px) {
  main .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding: 48px 0 36px 0;
  }
}
main .about__image {
  width: 100%;
}
@media (min-width: 768px) {
  main .about__image {
    padding: 0 48px;
  }
}
main .about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 16px;
}
@media (min-width: 768px) {
  main .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 36px 48px 16px 48px;
  }
}
main .about__author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  main .about__author {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    padding: 0 48px;
  }
}
main .about__sub-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding-top: 24px;
}
@media (min-width: 768px) {
  main .about__sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 36px 48px 0 48px;
  }
}
main .about__paragraph {
  padding: 16px 0;
}
@media (min-width: 768px) {
  main .about__paragraph {
    padding: 24px 0;
    width: 45%;
  }
}
main .about__paragraph-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  main .about__paragraph-container {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;
  }
}
main .gallery {
  padding: 0 16px;
  background-color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  main .gallery {
    padding: 0 36px;
  }
}
main .gallery__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 24px 0 16px 0;
}
@media (min-width: 768px) {
  main .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
main .gallery__container {
  width: 100%;
  align-self: center;
}
main .gallery__item {
  width: 100%;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  main .gallery__item {
    width: 30%;
    margin-right: 20px;
  }
}

.comments {
  padding: 16px;
}
@media (min-width: 768px) {
  .comments {
    padding: 36px;
  }
}
.comments__title {
  margin-bottom: 24px;
}
.comments__form {
  display: flex;
  flex-direction: column;
}
.comments__form-container {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.comments__avatar-wrapper {
  flex: 0 0 auto;
}
.comments__avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #E1E1E1;
}
@media (min-width: 768px) {
  .comments__avatar {
    width: 48px;
    height: 48px;
  }
}
.comments__form-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}
.comments__form-fields label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
  color: #AFAFAF;
}
.comments__form-fields input,
.comments__form-fields textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
  color: #323232;
  height: 36px;
  padding: 12px;
}
@media (min-width: 768px) {
  .comments__form-fields input,
  .comments__form-fields textarea {
    height: 48px;
    padding: 16px;
  }
}
.comments__form-fields input:focus,
.comments__form-fields textarea:focus {
  outline: none;
  border-color: #323232;
}
.comments__form-fields input.error,
.comments__form-fields textarea.error {
  border-color: #D22D2D;
}
.comments__form-fields #comment {
  height: 5rem;
}
.comments__button {
  height: 40px;
  border-radius: 4px;
  background-color: #323232;
  color: #FFFFFF;
  padding: 10px 32px;
}
@media (min-width: 768px) {
  .comments__button {
    min-width: 150px;
    width: 30%;
    margin-left: auto;
  }
}
.comments__button:hover {
  cursor: pointer;
}

.comment {
  display: flex;
  gap: 10px;
  padding: 8px;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}
.comment__avatar-column {
  flex: 0 0 auto;
}
.comment__content-column {
  display: flex;
  flex-direction: column;
}
.comment__name-date {
  display: flex;
  justify-content: space-between;
}
.comment__name {
  font-weight: 700;
  color: #323232;
  margin-bottom: 4px;
}
.comment__date {
  color: #AFAFAF;
}
.comment__avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.comment__avatar--placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
}

.footer {
  padding: 0 16px;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 0 36px;
  }
}
.footer .icon {
  margin-right: 32px;
}
.footer__wrapper1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__wrapper1 {
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    padding: 36px 0;
    position: relative;
  }
}
.footer__logo1 {
  max-width: 120px;
  max-height: 20px;
  height: auto;
  display: none;
  align-self: flex-end;
}
@media (min-width: 768px) {
  .footer__logo1 {
    display: flex;
    align-self: baseline;
    position: absolute;
    right: 0;
    margin-top: 16px;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 24px 0 16px 0;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    margin-right: 48px;
    padding: 0;
  }
}
.footer__wrapper2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
}
@media (min-width: 768px) {
  .footer__wrapper2 {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
.footer__contact-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .footer__contact-name {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    padding: 16px 0;
  }
}
.footer__contact-email {
  padding: 16px 0;
}
@media (min-width: 768px) {
  .footer__logo2 {
    display: none;
  }
}
.footer__copyright {
  padding: 16px 0;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 36px 0;
  }
}/*# sourceMappingURL=bio.css.map */